:root {
  --primary-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-text-color: #757575;
  --discription-text-color: #ffffff;
  --background-color-dark: rgba(47, 48, 58, 1);
  --background-color-light: #f5f4fa;
  --button-color-active: #188ce8;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
}

h1,
h2,
h3,
h4,
h5,
ul,
p {
  margin: 0;
}

ul {
  padding-left: 0;
}

.link {
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--discription-text-color);
  letter-spacing: 0.03em;
  font-size: 14px;
  color: var(--primary-text-color);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 94px 0;
}

.list {
  list-style: none;
}

/* link styles */
.link {
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

/* hide heading */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.button {
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 15px;
  width: 1200px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  border-bottom: 1px solid #ececec;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}
.contacts__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contacts__link:hover svg, .contacts__link:focus svg {
  color: var(--accent-color);
  fill: currentColor;
}
.contacts__item:not(:last-child) {
  margin-right: 40px;
}
.contacts__phone, .contacts__mail {
  margin-right: 10px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--secondary-text-color);
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navigation__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  position: relative;
}
.navigation__link--current::after {
  content: "";
  position: absolute;
  background-color: var(--accent-color);
  width: 100%;
  height: 4px;
  bottom: -1px;
  left: 0;
  border-radius: 2px;
}
.navigation__link--current {
  color: var(--accent-color);
}
.navigation__item:not(:last-child) {
  margin-right: 40px;
}

.header-logo {
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  display: block;
  font-family: "Raleway";
  color: var(--accent-color);
}

.logo {
  margin-right: 93px;
}
.logo__part {
  color: var(--primary-text-color);
}

.hero {
  padding: 200px 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/hero.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  text-align: center;
  max-width: 1600px;
  background-color: #c4c4c4;
}
.hero__title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  margin: 0 auto;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--discription-text-color);
  max-width: 696px;
  text-align: center;
}
.hero__btn {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  font-family: inherit;
  color: var(--discription-text-color);
  background-color: var(--accent-color);
  letter-spacing: 0.06em;
  border-color: transparent;
  padding: 10px 32px;
  margin-top: 30px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: var(--button-color-active);
  color: var(--discription-text-color);
  cursor: pointer;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.features__list:not(:last-child):not(:last-child) {
  margin-right: 30px;
}
.features__item {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 30px;
}
.features__text {
  line-height: 1.71;
  color: var(--secondary-text-color);
  width: 270px;
}

.feature-icon {
  width: 270px;
  height: 120px;
  background-color: var(--background-color-light);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work-section {
  padding-bottom: 94px;
}

.work-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work-overlay {
  position: relative;
  overflow: hidden;
}

.work-overlay-text {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  bottom: 0;
  left: 0;
  color: var(--discription-text-color);
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item {
  width: calc((100% - 60px) / 3);
}

.item:not(:first-child) {
  margin-left: 30px;
}

.img {
  max-width: 100%;
  display: block;
}

.pre-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 50px;
}

.team-section {
  background-color: var(--background-color-light);
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}
.team__list {
  background-color: var(--discription-text-color);
  width: calc((100% - 90px) / 4);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__list:not(:first-child) {
  margin-left: 30px;
}
.team__img {
  display: block;
}

.team-box {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 16px;
}
.team-box__manager {
  font-weight: 500;
  line-height: 1.19;
  margin-bottom: 10px;
}
.team-box__position {
  line-height: 1.19;
  color: var(--secondary-text-color);
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-top: 16px;
}
.social__link {
  width: 44px;
  height: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-color: var(--discription-text-color);
  fill: #afb1b8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
  fill: var(--discription-text-color);
}

.partners-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.partners-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  margin-bottom: 50px;
  text-align: center;
}

.svg-partners {
  width: 106px;
  height: 60px;
}

.icon-partners {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-partners svg {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-partners {
  text-align: center;
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.icon-partners:hover svg,
.icon-partners:focus svg {
  fill: var(--accent-color);
}

.icon-partners:hover,
.icon-partners:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.menu__btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  background-color: var(--background-color-light);
  font-family: inherit;
  text-align: center;
  color: var(--primary-text-color);
  display: block;
  padding: 6px 22px;
  border: 1px solid transparent;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__btn:hover, .menu__btn:focus {
  background-color: var(--accent-color);
  color: var(--discription-text-color);
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.menu__list:not(:last-child) {
  margin-right: 8px;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 0px;
  gap: 30px;
}
.projects__list {
  width: 370px;
}
.projects__list :hover .project-wrap__details {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.projects__link {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__link:hover, .projects__link:focus {
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25), 0px 3px 3px rgba(0, 0, 0, 0.25), 0px 1px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25), 0px 3px 3px rgba(0, 0, 0, 0.25), 0px 1px 2px rgba(0, 0, 0, 0.12);
}

.project-wrap {
  position: relative;
  overflow: hidden;
}
.project-wrap__img {
  display: block;
  max-width: 100%;
}
.project-wrap__details {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  color: var(--discription-text-color);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 1000ms;
  transition: -webkit-transform 1000ms;
  transition: transform 1000ms;
  transition: transform 1000ms, -webkit-transform 1000ms;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-description {
  padding: 20px 24px;
  border-bottom: 1px solid rgb(238, 238, 238);
  border-left: 1px solid rgb(238, 238, 238);
  border-right: 1px solid rgb(238, 238, 238);
}
.project-description__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  margin-bottom: 4px;
  color: var(--primary-text-color);
  letter-spacing: 0.06em;
}
.project-description__text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-text-color);
}

.footer-section {
  background-color: var(--background-color-dark);
  padding-top: 60px;
  padding-bottom: 60px;
}

.container-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.footer {
  font-style: normal;
}

.address-links {
  line-height: 1.71;
  margin-top: 20px;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.logo-part-footer {
  color: var(--discription-text-color);
}

.footer-contacts {
  color: var(--footer-contacts-color);
}

.footer-address {
  color: var(--discription-text-color);
}

.footer-text {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--discription-text-color);
  margin-bottom: 20px;
}

.footer1 {
  margin-right: 70px;
}

.footer-box {
  margin-right: 93px;
}

.footer-social-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.footer-social {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: var(--discription-text-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social:hover,
.footer-social:focus {
  background-color: var(--accent-color);
}

.footer .mail-form {
  margin-left: auto;
}

.mail-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--discription-text-color);
  margin-bottom: 20px;
}

.mail-input {
  padding-left: 15px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--background-color-dark);
  color: rgba(255, 255, 255, 0.6);
  outline: none;
}

.mail-box input {
  border: none;
  outline: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--discription-text-color);
}

.mail-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mail-input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.6);
}

.mail-input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}

.mail-input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  color: rgba(255, 255, 255, 0.6);
}

.mail-input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  color: rgba(255, 255, 255, 0.6);
}

.mail-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.6);
}

.mail-box input:focus {
  border: 1px solid var(--accent-color);
}

.footer-form {
  margin-left: auto;
}

.icon-icon-send {
  margin-left: 10px;
}

footer label {
  margin-top: 0;
  margin-bottom: 0;
}

.btn-footer {
  margin-left: 12px;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background: var(--accent-color);
  color: var(--discription-text-color);
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-footer:hover,
.btn-footer:focus {
  background-color: var(--button-color-active);
  color: var(--discription-text-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  padding: 40px;
  width: 528px;
  height: 581px;
  left: 50%;
  top: 50%;
  background: var(--discription-text-color);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.modal-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  margin-bottom: 12px;
  text-align: center;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

textarea {
  resize: none;
  height: 120px;
  padding: 12px 16px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

textarea:focus {
  border: 1px solid var(--accent-color);
}

textarea::-webkit-input-placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.66;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea::-moz-placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.66;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea:-ms-input-placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.66;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea::-ms-input-placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.66;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.66;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.btn-submit {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  padding: 10px 52px;
  margin: 0 auto;
  background: var(--accent-color);
  color: var(--discription-text-color);
  border: transparent;
  display: block;
  letter-spacing: 0.06em;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btn-submit:hover,
.btn-submit:focus {
  background-color: var(--button-color-active);
}

.accept-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--accent-color);
}

.form-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-element input {
  height: 40px;
  border: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  width: 100%;
  outline: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrap {
  position: relative;
  margin-bottom: 10px;
}

.form-element svg {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form-element svg {
  fill: var(--primary-text-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-element input:focus + svg {
  fill: var(--accent-color);
}

.form-element input:focus {
  border: 1px solid var(--accent-color);
}

.comment-text {
  margin-bottom: 3px;
}

.checkbox {
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 7px;
  border-radius: 4px;
}

.accept label {
  margin-bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.accept {
  margin-bottom: 30px;
  margin-top: 20px;
}

.accept-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  height: 24px;
  color: #757575;
}

label {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.25;
  margin-bottom: 4px;
  letter-spacing: 0.01em;
  color: #757575;
}

.accept input:checked + label .checkbox {
  background: var(--accent-color);
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.close-button {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--discription-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
  fill: var(--accent-color);
}/*# sourceMappingURL=main.css.map */