:root {
    --primary-text-color: #212121;
    --accent-color: #2196f3;
    --secondary-text-color: #757575;
    --discription-text-color: #ffffff;
    --background-color-dark: rgba(47, 48, 58, 1);
    --background-color-light: #f5f4fa;
    --button-color-active: #188ce8;
    --footer-contacts-color: rgba(255, 255, 255, 0.6);
  }