.header-logo {
  @include font(24px, 700, 1.16);

    display: block;
    font-family: "Raleway";
    color: var(--accent-color);
  
  @media screen and (min-width:1200px){
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em}
  }

  .logo {
    margin-right: 93px;
  
  
  &__part {
  color: var(--primary-text-color);
  }
}