.partners-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
  }
  .partners-item{
    @media screen and (max-width: 767px) {
    flex-basis: calc((100% - 30px)/2);
  }
  @media screen and (min-width:768px) and (max-width:1199px){
    flex-basis: calc((100% - 60px)/3);
  }
  @media screen and (min-width:768px) and (min-width:1200px){
    flex-basis: calc((100% - 90px)/4);
  }
}
  .partners-title {
    @include font(28px, 700, 1.17);
    
    margin-bottom: 30px;
    text-align: center;
    @media screen and (min-width:1200px){
      @include font(36px, 700, 1.16);
      margin-bottom: 50px;
    }
  }
  
  .svg-partners {
    width: 106px;
    height: 60px;
  }
  .icon-partners {
    justify-content: center;
    display: flex;
    align-items: center;
    
    height: 92px;
    border-radius: 4px;
    fill: #afb1b8;
    border: 1px solid #afb1b8;
  
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .icon-partners svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  container-partners {
    text-align: center;
    margin: 0 auto;
    padding: 0 15px;

  @media screen and (min-width:480px) {
      width:480px ;
  }
  @media screen and (min-width:768px) {
     width:768px ;
  }
  @media screen and (min-width:1200px) {
    width:1200px ;
  }
  }

  .icon-partners:hover svg,
  .icon-partners:focus svg {
    fill: var(--accent-color);
  }
  .icon-partners:hover,
  .icon-partners:focus {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
  }
  